.calculatorArea{
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    justify-self: center;
}

.body {
    background-color: black;
    color: white;
}